/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    /* The image used */
    background-image: url('../../Asset/musicHeadset.jpg'); /*Pixabay*/
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255,255,255,0.9);
  
    
}

/*Navbar fx and collapse Bootstrap*/
.navbar {
    height: 50px;
}

#logo {
    display: inline-block;
}

body > .container, .body-content {
    padding: 50px 15px;
}

.collapsing, .navbar-collapse.in {
    background-color: rgb(43, 43, 43);
    text-align: center;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*Home page*/
#hero {
    background-image: url('../Asset/musicFinal.jpg');
    /* Set a specific height */
    height: 360px;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
}

.title {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 63px;
}

.subtitle, .lead {
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
}

#content {
    font-family: 'Nunito', sans-serif;
}

/*Survey*/
.allPage {
    font-family: 'Raleway', sans-serif;
    padding:30px;
}
fieldset {
    border: 2px solid black;
    padding: 30px;
    margin-bottom: 50px;
}
legend {
    font-size: 32px;
    font-family: 'Berkshire Swash', cursive;
    padding-bottom:10px;
}

.form-control {
    padding-bottom: 5px;
}
.question {
    display: block;
    font-weight: bold;
}

.radio label, .checkbox label {
    padding-right: 20px;
    padding-left: 0px;
}

.radio, .checkbox {
    padding-left: 10px;
}

.end {
    text-align:center;
}
#privacy {
    font-size: 70%;
}

/*Thank you*/
.header {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size:180%;
}