/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    /* The image used */
    background-image: url('../../Asset/headset.jpg'); /*Pixabay*/
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 35px;
    padding-right: 35px;
}

/*Navbar fx and collapse Bootstrap*/
.navbar {
    height: 50px;
}
#logo {
    display:inline-block;
}

body > .container, .body-content {
    padding: 50px 15px;
}

.collapsing, .navbar-collapse.in {
    background-color: rgb(43, 43, 43);
    text-align: center;
}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*Home page*/
#hero {
    background-image: url('../Asset/musicFinal.jpg');
    
    /* Set a specific height */
    height: 360px;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/*#title-text {
    background: rgba(255, 255, 255, 0.35);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    top: 10px;
    left: 0;
    position: fixed;
    margin-left: 20px;
    margin-right: 20px;
    right: 0;
    z-index: 2;
    padding: 0 10px;
}*/

#title-text > .title {
    font-family: 'Lobster Two', cursive;
    color:burlywood;
}

#title-text > .subtitle {
    font-family: 'Righteous', cursive;
    color:azure;
}

#title-text > .lead {
    color: azure;
}

/*Survey*/
.allPage {
    font-family: 'Raleway', sans-serif;
}

.question {
    display: block;
    font-weight: bold;
}

.radio label, .checkbox label {
    padding-right: 20px;
    padding-left: 0px;
}

.radio, .checkbox {
    padding-left: 10px;
}
